body {
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #fff5f7;
    color: #333;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    background: linear-gradient(135deg, #fff, #ffeef1);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.add {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6d92;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.table {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.tHead th {
    padding: 10px;
    background-color: #ff6d92;
    color: #fff;
    text-align: center;
}

.tData td {
    padding: 10px;
    text-align: center;
}

.tData:nth-child(even) {
    background-color: #ffeef1;}

.tData:nth-child(odd) {
    background-color: #ffe3e9;
}

.form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff6d92;
}

label {
    display: block;
    margin-bottom: 10px;
}

span {
    font-weight: bold;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ffc0cb;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #ff6d92;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ff6b8b;
}

a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #ff6d92;
}

a:hover {
    text-decoration: underline;
}

.container-detail {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th,
td {
    background-color: #ffeef1;
    text-align: center;
}
